@charset "UTF-8";

@media print {
  *, :after, :before {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a {
    text-decoration: underline;
    &:visited {
      text-decoration: underline;
    }
    &[href]:after {
      content: " (" attr(href) ")";
    }
    &[href^="#"]:after {
      content: "";
    }
  }
  img, tr {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  h2, h3, p {
    orphans: 3;
    widows: 3;
  }
  h2, h3 {
    page-break-after: avoid;
  }
  .label {
    border: 1px solid #000;
  }
}

*, :after, :before {
  box-sizing: border-box;
}

dl, ol, ul {
  margin-top: 0;
}

.container:after, .row:after {
  clear: both;
}

.col-lg-5, .col-lg-7, .col-md-4, .col-md-6, .col-md-12, .col-sm-3, .col-sm-6, .col-sm-8, .col-sm-9, .col-xs-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.btn {
  &:focus, &:hover {
    color: #333;
  }
}

.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
}

.embed-responsive-16by9 {
  padding-bottom: 56.25%;
}

.pull-left {
  float: left !important;
}

.visible-sm-block, .visible-xs {
  display: none !important;
}

@font-face {
  font-family: FontAwesome;
  src: url(../fonts/fontawesome-webfont.eot?v=4.5.0);
  src: url(../fonts/fontawesome-webfont.eot?#iefix&v=4.5.0) format("embedded-opentype"), url(../fonts/fontawesome-webfont.woff2?v=4.5.0) format("woff2"), url(../fonts/fontawesome-webfont.woff?v=4.5.0) format("woff"), url(../fonts/fontawesome-webfont.ttf?v=4.5.0) format("truetype"), url(../fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular) format("svg");
  font-weight: 400;
  font-style: normal;
}


@media print {
  *, :after, :before {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a {
    text-decoration: underline;
    &:visited {
      text-decoration: underline;
    }
    &[href]:after {
      content: " (" attr(href) ")";
    }
    &[href^="#"]:after {
      content: "";
    }
  }
  img, tr {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  h2, h3, p {
    orphans: 3;
    widows: 3;
  }
  h2, h3 {
    page-break-after: avoid;
  }
  .label {
    border: 1px solid #000;
  }
}

body {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 14px;
  color: #333;
}

a {
  color: #0cb4ce;
  &:focus, &:hover {
    color: #087586;
  }
}

h1, h2, h3 {
  margin-top: 20px;
}

h1, h2, h3 {
  margin-bottom: 10px;
}

h4 {
  margin-bottom: 10px;
  margin-top: 10px;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

p {
  margin: 0 0 10px;
}

ol, ul {
  margin-bottom: 10px;
}

dl {
  margin-bottom: 20px;
}

.container:after, .row:after {
  clear: both;
}

.btn {
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  &:active:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }
  &:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
    color: #333;
  }
  &:hover {
    color: #333;
  }
}

.panel {
  margin-bottom: 20px;
}

.clearfix:after {
  clear: both;
}

img.wp-post-image {
  max-width: 100%;
}

@font-face {
  font-family: FontAwesome;
  src: url(https://cdn.algaecal.com/sp/assets/fonts/fontawesome-webfont.eot?v=4.5.0);
  src: url(https://cdn.algaecal.com/sp/assets/fonts/fontawesome-webfont.eot#iefix&v=4.5.0) format("embedded-opentype"), url(https://cdn.algaecal.com/sp/assets/fonts/fontawesome-webfont.woff2?v=4.5.0) format("woff2"), url(https://cdn.algaecal.com/sp/assets/fonts/fontawesome-webfont.woff?v=4.5.0) format("woff"), url(https://cdn.algaecal.com/sp/assets/fonts/fontawesome-webfont.ttf?v=4.5.0) format("truetype"), url(https://cdn.algaecal.com/sp/assets/fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular) format("svg");
  font-weight: 400;
  font-style: normal;
}


.label {
  vertical-align: baseline;
}

img {
  border: 0;
}

html {
  -webkit-tap-highlight-color: transparent;
}

body {
  color: #000;
}

.col-xs-12 {
  float: left;
}

.btn {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

@font-face {
  font-family: Glober;
  src: url(https://cdn.algaecal.com/wp-content/themes/algaecal/fonts/2B2704_9_0.woff2) format("woff2"), url(https://cdn.algaecal.com/wp-content/themes/algaecal/fonts/2B2704_9_0.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: Glober;
  src: url(https://cdn.algaecal.com/wp-content/themes/algaecal/fonts/2B2704_B_0.woff2) format("woff2"), url(https://cdn.algaecal.com/wp-content/themes/algaecal/fonts/2B2704_B_0.woff) format("woff");
  font-weight: 400;
  font-style: italic;
}


@font-face {
  font-family: Glober;
  src: url(https://cdn.algaecal.com/wp-content/themes/algaecal/fonts/2B2704_2_0.woff2) format("woff2"), url(https://cdn.algaecal.com/wp-content/themes/algaecal/fonts/2B2704_2_0.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: Glober;
  src: url(https://cdn.algaecal.com/wp-content/themes/algaecal/fonts/2B2704_3_0.woff2) format("woff2"), url(https://cdn.algaecal.com/wp-content/themes/algaecal/fonts/2B2704_3_0.woff) format("woff");
  font-weight: 700;
  font-style: italic;
}


@font-face {
  font-family: icomoon;
  src: url(https://cdn.algaecal.com/sp/assets/fonts/icons/algaecal-icons.woff2?tncrvj) format("woff2"), url(https://cdn.algaecal.com/sp/assets/fonts/icons/algaecal-icons.ttf?tncrvj) format("truetype"), url(https://cdn.algaecal.com/sp/assets/fonts/icons/algaecal-icons.woff?tncrvj) format("woff"), url(https://cdn.algaecal.com/sp/assets/fonts/icons/algaecal-icons.eot?tncrvj), url(https://cdn.algaecal.com/sp/assets/fonts/icons/algaecal-icons.svg?tncrvj#algaecal-icons) format("svg"), url(https://cdn.algaecal.com/sp/assets/fonts/icons/algaecal-icons.eot?tncrvj#iefix) format("embedded-opentype");
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: yotpo-widget-font;
  font-style: normal;
  font-weight: 400;
  src: url(http://staticw2.yotpo.com/assets/yotpo-widget-font.eot?version=2017-02-06_08-51-25#iefix) format("embedded-opentype"), url(http://staticw2.yotpo.com/assets/yotpo-widget-font.woff?version=2017-02-06_08-51-25) format("woff"), url(http://staticw2.yotpo.com/assets/yotpo-widget-font.ttf?version=2017-02-06_08-51-25) format("truetype"), url(http://staticw2.yotpo.com/assets/yotpo-widget-font.svg?version=2017-02-06_08-51-25) format("svg");
}


[class*=" icon-"] {
  font-family: icomoon !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &:before {
    font-family: icomoon !important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

section {
  display: block;
}

a {
  background-color: transparent;
  &:active, &:hover {
    outline: 0;
  }
}

strong {
  font-weight: 700;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

img {
  vertical-align: middle;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

@media print {
  img, tr {
    page-break-inside: avoid;
  }
  *, :after, :before {
    background: 0 0 !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a {
    text-decoration: underline;
    &:visited {
      text-decoration: underline;
    }
    &[href]:after {
      content: " (" attr(href) ")";
    }
    &[href^="#"]:after {
      content: "";
    }
  }
  img {
    max-width: 100% !important;
  }
  h2, h3, p {
    orphans: 3;
    widows: 3;
  }
  h2, h3 {
    page-break-after: avoid;
  }
  .label {
    border: 1px solid #000;
  }
}

.btn {
  background-image: none;
  &:active {
    background-image: none;
  }
}

body {
  background-color: #fff;
}

*, :after, :before {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: Glober,arial,helvetica,sans-serif;
  font-size: 18px;
  line-height: 1.42857;
}

a {
  color: #53b8bf;
  text-decoration: none;
  &:focus, &:hover {
    color: #368a90;
    text-decoration: underline;
  }
  &:focus {
    outline: 5px auto -webkit-focus-ring-color;
  }
}

h1, h2, h3, h4 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

h1, h2, h3 {
  margin-top: 25px;
}

h1, h2, h3 {
  margin-bottom: 12.5px;
}

h4 {
  margin-bottom: 12.5px;
  margin-top: 12.5px;
}

h2 {
  font-size: 38px;
}

h3 {
  font-size: 31px;
}

h4 {
  font-size: 23px;
}

dt {
  font-weight: 700;
}

.text-center {
  text-align: center;
}

table {
  background-color: transparent;
}

dl, ol, ul {
  margin-top: 0;
}

dl {
  margin-bottom: 25px;
}

ol, ul {
  margin-bottom: 12.5px;
}

dd, dt {
  line-height: 1.42857;
}

dd {
  margin-left: 0;
}

.clearfix:after, .container:after, .row:after {
  clear: both;
}

th {
  text-align: left;
}

.container {
  &:after, &:before {
    display: table;
    content: " ";
  }
}

.row {
  &:after, &:before {
    display: table;
    content: " ";
  }
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.col-lg-5, .col-lg-7, .col-md-4, .col-md-6, .col-md-12, .col-sm-3, .col-sm-6, .col-sm-8, .col-sm-9 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.col-xs-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

@media (min-width: 768px) {
  .col-sm-3, .col-sm-6, .col-sm-8, .col-sm-9 {
    float: left;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-8 {
    width: 66.66667%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66667%;
  }
}

@media (min-width: 992px) {
  .col-md-4, .col-md-6, .col-md-12 {
    float: left;
  }
  .col-md-4 {
    width: 33.33333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-offset-0 {
    margin-left: 0;
  }
}

@media (min-width: 1200px) {
  .col-lg-5, .col-lg-7 {
    float: left;
  }
  .col-lg-5 {
    width: 41.66667%;
  }
  .col-lg-7 {
    width: 58.33333%;
  }
  .col-lg-push-0 {
    left: auto;
  }
}

.btn {
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  border: 1px solid transparent;
  white-space: nowrap;
  user-select: none;
  &:active:focus, &:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }
  &:active {
    outline: 0;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  }
}

.label {
  font-weight: 700;
  line-height: 1;
  white-space: nowrap;
  text-align: center;
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  color: #fff;
  border-radius: .25em;
}

.panel {
  margin-bottom: 25px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.clearfix {
  &:after, &:before {
    content: " ";
    display: table;
  }
}

.visible-sm-block, .visible-xs {
  display: none !important;
}

@-ms-viewport {
  width: device-width;
}

@media (max-width: 767px) {
  .visible-xs {
    display: block !important;
  }
  .hidden-xs,
  .woocommerce-main-image {
    display: none !important;
  }
  .standalone-bottomline {
    width:100vw !important;
  }
  .yotpo-bottomline,
  .yotpo-stars,
  .text-m {
    display: block !important;
    float: none !important;
    width: 110px !important;
    padding: 0 !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .text-m{
    clear: both !important;
    padding-left: 5px !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important;
  }
}

dl {
  background-color: transparent;
}

.product-box-wrapper .price-per-day {
  background-image: url(https://cdn.algaecal.com/wp-content/uploads/yellow-highlight.png);
  background-size: 100% 100%;
  padding: 9px 26px;
  background-repeat: no-repeat;
}

p {
  margin: 10px 0;
}

a[target=_blank] {
  &:after {
    font-family: icomoon !important;
    font-style: normal;
    font-weight: 400;
    color: gray;
    font-size: .4em;
    content: "\ea33";
    vertical-align: super;
    padding: 2px 3px;
    margin-left: 2px;
    background: #c7cdd3;
    border-radius: 10px;
    display: inline-block;
  }
  &:hover:after {
    text-decoration: none;
  }
}

.share-with-others a[target=_blank]:after {
  display: none !important;
}

ol, ul {
  margin: 0 0 1.07142857142857em 20px;
  padding: 0;
}

.panel {
  padding-top: 1em;
  padding-bottom: 1em;
}

dl {
  margin: 0;
  dt {
    text-indent: -20px;
    padding-left: 22px;
    margin: 5px 0;
    &:before {
      content: "";
      font-family: icomoon,algaecal-icons,FontAwesome;
      color: #46ac4e;
      margin-right: 6px;
      margin-top: 10px;
      margin-left: -6px;
    }
  }
  dd {
    margin-left: 22px;
  }
}

.green-caps {
  color: #46ac4e;
  text-transform: uppercase;
  font-weight: 700;
}

.btn {
  background-color: #46ac4e;
  border-color: #77c87d;
  box-shadow: 0 8px 0 #3a8f41, 0 8px 6px rgba(0, 0, 0, 0.35);
  -webkit-transition: background-color .2s ease-in-out,-webkit-box-shadow .1s ease-in-out,-webkit-transform .1s ease-in-out;
  cursor: pointer;
  display: inline-block;
  border-radius: 4px;
  border-style: solid;
  border-width: 0 0 1px;
  font-size: 1em;
  line-height: 1;
  padding: .5em;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.35);
  transition: background-color .2s ease-in-out,box-shadow .1s ease-in-out,transform .1s ease-in-out;
  color: #fff;
  text-decoration: none;
  &:focus, &:hover {
    color: #fff;
    text-decoration: none;
  }
  &:focus, &:hover {
    background-color: #3d9644;
    outline: 0;
  }
  &:active {
    box-shadow: 0 4px 0 #3a8f41, 0 4px 2px rgba(0, 0, 0, 0.3);
    color: #fff;
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  span {
    box-sizing: content-box;
    display: block;
    line-height: 1;
    margin: -10px;
    padding: 10px;
    width: 100%;
  }
  &:before {
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    speak: none;
    -moz-osx-font-smoothing: grayscale;
  }
}

span.arrow {
  width: 100%;
  white-space: normal;
  &:after {
    content: "\25BA";
    display: block;
    float: right;
    padding-right: 10px;
  }
}

.btn:before {
  font-family: icomoon,algaecal-icons,FontAwesome;
  line-height: 1;
}

.add-to-cart-btn-green {
  background-color: #46ac4e;
  border-color: #77c87d;
  box-shadow: 0 8px 0 #3a8f41, 0 8px 6px rgba(0, 0, 0, 0.35);
  color: #fff;
  -webkit-transition: background-color .2s ease-in-out,-webkit-box-shadow .1s ease-in-out,-webkit-transform .1s ease-in-out;
  cursor: pointer;
  display: inline-block;
  border-radius: 4px;
  border-style: solid;
  border-width: 0 0 1px;
  font-size: 1em;
  line-height: 1;
  padding: .5em;
  text-decoration: none;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.35);
  transition: background-color .2s ease-in-out,box-shadow .1s ease-in-out,transform .1s ease-in-out;
  font-weight: 700;
  width: 92%;
  &:focus, &:hover {
    background-color: #3d9644;
    color: #fff;
    outline: 0;
    text-decoration: none;
  }
  &:active {
    box-shadow: 0 4px 0 #3a8f41, 0 4px 2px rgba(0, 0, 0, 0.3);
    color: #fff;
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  span {
    box-sizing: content-box;
    display: block;
    line-height: 1;
    margin: -10px;
    padding: 10px;
    width: 100%;
  }
  &.btn-with-seal {
    margin: 29px 0;
    padding-left: 69px;
    padding-right: 0;
    position: relative;
    transition: none;
    white-space: nowrap;
    .seal {
      width: 90px;
      height: 90px;
      position: absolute;
      left: -14px;
      top: -21px;
    }
    &:active .seal {
      top: -25px;
    }
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 1.4em;
  }
  h2 {
    font-size: 1.3em;
  }
  h3 {
    font-size: 1.2em;
  }
}

.woocommerce-Tabs-panel h3 {
  margin-top: 0;
}

a {
  cursor: pointer;
}

body {
  cursor: default !important;
}

strong {
  color: inherit;
}

.product-box {
  border: 1px solid #777;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  img {
    margin: 0 auto;
  }
  .price {
    color: #777;
  }
}

.ac_green {
  color: #79c465;
}

.ac_blue {
  color: #43bbff;
}

.directions {
  background-color: #fff;
  width: 100%;
  padding: 1.25em 1.75em;
  table {
    tr td:first-child {
      width: 30%;
    }
    td {
      padding: 0;
    }
  }
}

@media screen and (max-width: 768px) {
  h3 {
    font-size: 1.4em;
  }
}

.home dl {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.woocommerce-Price-amount.amount {
  white-space: nowrap;
}

#tab-Description {
  background-image: linear-gradient(180deg, #eee, #f6f6f6 3%);
  background-repeat: repeat-x;
  margin-left: -1000px;
  margin-right: -1000px;
  padding-left: 1000px;
  padding-right: 1000px;
}

.woocommerce-Tabs-panel {
  padding-top: 0;
  .woocommerce-main-image img {
    margin: 10px auto;
  }
}

.woocommerce-main-image {
  margin: auto;
}

@media screen and (max-width: 760px) {
  .summary h1 {
    text-align: center;
  }
}

.important-points dl {
  padding: 14px;
  background-color: #e3f1df;
  margin: 0;
  dt:before {
    content: "";
    font-family: icomoon,algaecal-icons,FontAwesome;
    color: #46ac4e;
    margin-right: 4px;
  }
  dd {
    margin-left: 22px;
  }
}

@media screen and (min-width: 768px) {
  .important-points dl {
    background-color: transparent;
  }
  a {
    &.addthis_button_email, &.dr-note {
      margin-top: 10px;
    }
  }
}

.addthis_button_email, .dr-note {
  margin: auto 5px;
}

.important-points dl dt {
  margin: 0 auto;
  font-weight: 700;
}

.images {
  min-height: 90px;
}

.order_information ul {
  margin: 0;
}

.icon-file-pdf {
  color: #53b8bf;
}

.order_information li {
  font-size: 1em;
  margin-top: 6px;
}

.share-with-others a {
  text-align: left;
  white-space: pre-wrap;
}

.directions table td {
  padding-right: 8px;
}

@media (min-width: 992px) {
  #tab-Description > .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 45px;
    width: 100%;
    .product-box, .product-box-wrapper, .purchase-option-column {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
    }
    .product-box {
      transition: background-color .2s ease-out;
      &:hover {
        background-color: #e5e7e8;
        cursor: pointer;
      }
    }
    .purchase-option-column {
      &:nth-child(3) {
        -webkit-box-flex: 1.1;
        -ms-flex-positive: 1.1;
        flex-grow: 1.1;
        .product-box-wrapper {
          margin-bottom: -20px;
        }
      }
      &:nth-child(4) {
        -webkit-box-flex: 1.2;
        -ms-flex-positive: 1.2;
        flex-grow: 1.2;
        .product-box-wrapper {
          margin-bottom: -40px;
        }
      }
    }
    .product-box-footer {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      .pricing-info {
        margin-bottom: 30px;
      }
      .add-to-cart-btn-green {
        -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
        align-self: flex-end;
        margin: auto auto 30px;
      }
    }
  }
}

.product-box-wrapper {
  margin-top: 20px;
  padding: 10px;
  .woocommerce-Price-currencySymbol {
    vertical-align: super;
    font-size: 70%;
  }
  &.most-popular {
    margin-top: 0;
    padding: 3px 8px 8px;
    background-color: #53b8bf;
    box-shadow: (-1px) 0 13px 0 rgba(99, 99, 99, 0.75);
  }
  .most-popular-label {
    text-transform: uppercase;
    color: #fff;
  }
  .product-box {
    border-radius: 0;
    background-color: #fff;
    box-shadow: (-1px) 0 13px 0 rgba(99, 99, 99, 0.75);
    padding: 20px;
    color: #000;
    text-align: center;
  }
  h3.bundle-product-name {
    color: #000;
    font-weight: 700;
    margin-bottom: .125em;
  }
  .bundle-product-description {
    font-weight: 700;
    font-size: 20px;
    color: #53b8bf;
    line-height: 1.25;
    margin: 0;
  }
  .price {
    font-size: 36px;
    color: #000;
    font-weight: 700;
    line-height: 1.2;
  }
  .price-per-day {
    display: inline-block;
    background-position: 50%;
    background-size: 100% 50%;
    .amount {
      font-weight: 700;
    }
  }
  .currency {
    -webkit-transform: translateY(-15%);
    transform: translateY(-15%);
    display: inline-block;
    font-size: .7em;
    font-weight: 700;
  }
  .product-image {
    position: relative;
  }
  .percent-off {
    background-color: #e9872a;
    color: #fff;
    line-height: 1.1;
    height: 90px;
    text-transform: uppercase;
    width: 90px;
    border-radius: 100%;
    position: absolute;
    top: 20px;
    right: -12px;
    box-shadow: (-1px) 0 8px 0 rgba(99, 99, 99, 0.35);
    .label {
      display: block;
      font-size: 21px;
      padding: 22px 20px 20px;
      left: 50%;
      -webkit-transform: translate(-50%);
      transform: translate(-50%);
      position: absolute;
      .amount {
        display: block;
        font-size: 1.375em;
      }
    }
  }
  .retail-price .woocommerce-Price-amount {
    position: relative;
    &:after {
      background: url(https://cdn.algaecal.com/wp-content/themes/algaecal/img/line.png) 50% no-repeat;
      background-size: 100% 50%;
      bottom: 0;
      content: "";
      display: block;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
  .product-box-footer {
    line-height: 1.2;
    .price {
      line-height: 1;
    }
  }
  .add-to-cart-btn-green {
    margin: 20px 0 30px;
    span {
      line-height: 1.375;
    }
  }
}

.purchase-option-column {
  margin-top: 20px;
  img {
    max-height: 250px;
    width: auto;
  }
  a {
    text-transform: uppercase;
    font-size: 1em;
  }
}

a[target=_blank] {
  color: #53b8bf;
}

h1 {
  box-sizing: border-box;
  margin: 25px 0 0;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  font-size: 46px;
  color: #46ac4e;
}

.yotpo {
  a, div, span {
    font-family: Open Sans;
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    color: #a2a2a2;
    border-top-width: medium;
    border-right-width: medium;
    border-bottom-width: medium;
    border-left-width: medium;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border: currentcolor;
    border-image-source: none;
    border-image-slice: 100% 100% 100% 100%;
    border-image-width: 1 1 1 1;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
}

.product-summary-column .yotpo a {
  color: #000;
  font-size: 1.1em;
  vertical-align: middle;
  padding-left: .5em;
}

.pull-left {
  float: left;
}

.yotpo-icon-star {
  color: #ffd200 !important;
  font-size: 24px;
}

.product-summary-column .yotpo.bottomLine .yotpo-bottomline .yotpo-icon {
  font-size: 20px;
}

.yotpo-display-wrapper {
  visibility: visible;
}

.yotpo {
  direction: ltr;
  text-align: left;
  .yotpo-icon-star:before {
    content: "\e60e";
  }
  .yotpo-icon {
    font-family: yotpo-widget-font !important;
    &:after, &:before {
      font-family: yotpo-widget-font !important;
    }
  }
  .yotpo-clr {
    clear: both;
  }
  a:hover {
    color: #79c465 !important;
    text-decoration: none !important;
  }
}

h2.subheading {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: #000;
  font-size: 25px;
  margin: 5px 0 9px;
}

.addthis_button_email, .dr-note {
  color: #53b8bf;
  display: block;
  margin: 10px 5px auto;
  text-align: center;
  font-family: Glober, arial, helvetica, sans-serif !important;
}

.addthis_button_email {
  :focus, :hover {
    color: #368a90;
    text-decoration: underline;
  }
}

.dr-note {
  :focus, :hover {
    color: #368a90;
    text-decoration: underline;
  }
}

a:focus {
  outline-offset: -2px;
}

[class*=" icon-"] {
  font-family: icomoon;
  font-style: normal;
  font-weight: 400;
  font-variant-alternates: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-variant-position: normal;
  text-transform: none;
  line-height: 1;
  &:before {
    font-family: icomoon;
    font-style: normal;
    font-weight: 400;
    font-variant-alternates: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variant-position: normal;
    text-transform: none;
    line-height: 1;
  }
}

body.single-product .dr-note[class*=" icon-"]:before {
  font-family: icomoon, algaecal-icons, FontAwesome !important;
}

.addthis_button_email:before {
  font-family: icomoon;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "";
  font-size: 2em;
  vertical-align: middle;
  padding-right: 7px;
  display: inline-block;
}

.icon-file-pdf:before {
  font-size: 2em;
  vertical-align: middle;
  padding-right: 7px;
  display: inline-block;
  content: "" !important;
}

.at-icon-wrapper {
  display: inline-block;
  overflow: hidden;
}

span.at-icon-wrapper {
  background-color: #848484;
  line-height: 16px;
  height: 16px;
  width: 16px;
  display: none !important;
}

.text-m {
  vertical-align: middle !important;
  font-size: 16px !important;
  line-height: 1.42857em !important;
  padding: 0;
  padding-left: .5em;
  margin: 0;
  font-family: Glober, arial, helvetica, sans-serif !important;
}

.directions td {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}

.product-thumbnail {
  height: 150px;
  width: 150px;
}

@media screen and (max-width: 991px) {
  .product-thumbnail {
    display: none;
  }
  @media (min-width: 768px) {
    .entry-summary h1,
    .entry-summary h2 {
      display: none;
    }
  }
}

.product-image:not(:first-child), .product-thumbnail:not(:first-child) {
  display: none;
}
